@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.header {
  background: url("../../images/BG_HEADER.png");
  min-height: 664px;
  font-family: Roboto;
  color: $white;
  @include e(nav) {
    min-height: $m-62;
    background: $black-lighten;
    padding: $p-15 $p-25 $p-25 $p-15;
  }
  @include e(logo) {
    width: 50%;
    font-weight: $fw-300;
    font-size: $fs-17-5;
    line-height: $lh-21;
  }
  @include e(menu) {
    @include m(list) {
      display: none;
    }
  }
  @include e(content) {
    padding: $p-112 $p-15;
    h1 {
      font-family: Roboto;
      font-weight: $fw-500;
      font-size: $fs-53-2;
      line-height: $lh-62;
      margin-bottom: $m-12;
    }
    p {
      font-size: $fs-18-2;
      line-height: $lh-26;
      font-weight: normal;
      text-align: justify;
    }
    i {
      margin-right: $m-5;
    }
    a {
      display: inline-block;
      font-size: $fs-14;
      line-height: $lh-16;
      padding: $p-18 $p-35;
      margin-top: $m-42;
    }
  }
}

@include mq(md) {
  .header {
    @include e(nav) {
      padding: $p-15;
    }
    @include e(logo) {
      line-height: $lh-2;
    }
    @include e(menu) {
      @include m(hamburger) {
        display: none;
      }
      @include m(list) {
        display: block;
      }
    }
    @include e(menuItem) {
      float: left;
      padding-left: $p-28;
      line-height: $lh-2;
    }
    .fa-cloud-download-alt {
      margin-right: $m-3;
    }
  }
}

@include mq(xl) {
  .container {
    width: 1144px;
    margin: 0 auto;
  }
  .header {
    background: url("../../images/BG_HEADER_XL.png") no-repeat;
    background-size: cover;
    @include e(nav) {
      padding: $p-15;
    }
    @include e(logo) {
      line-height: $lh-2;
    }
    @include e(menu) {
      @include m(hamburger) {
        display: none;
      }
      @include m(list) {
        display: block;
      }
    }
    @include e(menuItem) {
      float: left;
      padding-left: $p-28;
      line-height: $lh-2;
    }
    @include e(content) {
      .content {
        width: 50%;
      }
    }
    .fa-cloud-download-alt {
      margin-right: $m-3;
    }
  }
}
